# Core Assignment: Books
## Joseph Lim

Design an ERD, then create and test a database in pymysql.

## ERD
 ![png](books.png)

## Database Creation

In [1]:
import numpy as np
import pandas as pd

import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus

In [2]:
pymysql.install_as_MySQLdb()

username = "root"
password = quote_plus("****") # password replaced for security reasons.
db_name = "books"
connection_str = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
engine = create_engine(connection_str)

In [4]:
# Check if the database exists. If not, create it.
if database_exists(connection_str) == False:
    create_database(connection_str)
    print("Database Created")
else:
  print('The database already exists')

Database Created

In [8]:
users = pd.read_csv("Data/users.csv")
users.to_sql('users', engine, if_exists = 'replace')

3

In [10]:
authors = pd.read_csv("Data/authors.csv")
authors.to_sql("authors", engine, if_exists = "replace")

5

In [11]:
favorites = pd.read_csv("Data/favorites.csv")
favorites.to_sql("favorites", engine, if_exists = "replace")

7

In [12]:
books = pd.read_csv("Data/books.csv")
books.to_sql("books", engine, if_exists = "replace")

6

In [ ]:
df.to_sql('tshirts', engine, if_exists = 'replace')

## Database Testing

In [14]:
q = """
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"))
;
"""
pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1

In [15]:
q = """
SELECT books.title, users.first_name, users.last_name
FROM books INNER JOIN favorites ON books.id = favorites.book_id
INNER JOIN users on users.id = favorites.user_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"))
;
"""
pd.read_sql(q, engine)

              title first_name last_name
0       The Shining       John       Doe
1                It       John       Doe
2  The Great Gatsby       John       Doe